* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}
@media (min-width: 480px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  * {
    font-size: 18px;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  padding: 0 1em;
  text-align: justify;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #0f2027);
  background-size: 300% 100%;
  animation: moverGradiente 5s ease-in-out infinite alternate;
}

a {
  text-decoration: none;
  color: black;
  height: min-content;
}

@keyframes entrada-header {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moverGradiente {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
header {
  background-color: #0f172a;
  margin: auto;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 60% 40%;
  animation: entrada-header 1.8s ease-out;
  background: transparent;
}
header h2 {
  color: #e5e7eb;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
}

.actions {
  padding-right: 0;
  margin-right: 0.5em;
  align-content: end;
}

@media (min-width: 480px) {
  button {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 0.5em;
  }
}
@media (min-width: 768px) {
  button {
    margin-left: 0.5em;
    padding: 1em 0.5em;
  }
}
@media (min-width: 1024px) {
  button {
    margin-left: 0.5em;
    padding: 1.5em 1em;
  }
}
button {
  float: right;
  background-color: #5b4b9a;
  color: white;
  border-radius: 40px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #7467a8;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 480px) {
  .curv {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 0.5em;
  }
}
@media (min-width: 768px) {
  .curv {
    margin-left: 0.5em;
    padding: 1em 0.5em;
  }
}
@media (min-width: 1024px) {
  .curv {
    margin-left: 0.5em;
    padding: 1.5em 1em;
  }
}
.curv {
  float: right;
  background-color: #5b4b9a;
  color: #e5e7eb;
  border-radius: 40px;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: grey #5a5a5a #5a5a5a grey;
  transition-duration: 0.5s;
}

.curv:hover {
  background-color: #7467a8;
  border-radius: 4px;
  transform: scale(1.1);
}

h1 {
  color: #e5e7eb;
  font-size: xx-large;
}

@keyframes entrar-izquierda {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes entrar-derecha {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
nav {
  display: flex;
  margin: 0 auto;
  font-size: medium;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: auto;
  padding: 1em 1em;
  border-radius: 20px;
  opacity: 0.8;
  background: transparent;
}
nav:hover {
  transition: opacity 0.1s ease;
  opacity: 1;
}

nav a {
  border-radius: 20px;
  flex: 1;
  text-align: center;
  background-color: #ccc;
  padding: 5px;
  border: 1px black solid;
  transition-duration: 0.3s;
}
nav a:hover {
  background-color: #9fbdd4;
  transform: scale(1.1);
  border-radius: 10px;
  border-color: grey #5a5a5a #5a5a5a grey;
}

.right {
  animation: entrar-derecha 1.5s ease-out;
}

.left {
  animation: entrar-izquierda 1.5s ease-out;
}

section {
  padding: 1em;
  border-radius: 5px;
}

.promo {
  margin: auto 5em;
}

.promo h4 {
  color: black;
  font-size: 30px;
  margin-bottom: 2vh;
}

.promo-grid {
  display: grid;
}
@media (min-width: 480px) {
  .promo-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1300px) {
  .promo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.promo-grid {
  grid-gap: 10px;
}

.card {
  background: #ccc;
  border-radius: 16px;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
  box-shadow: 5px 0px 20px black;
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-5px) scale(1.08);
  box-shadow: 0 15px 35px #ccc;
  background: #b8c6d1;
}
.card:hover .box-title {
  transition: all 0.3s ease;
}
.card p {
  padding: 15px 0;
}
.card li {
  padding: 0.2em 0;
  margin-left: 1em;
}

.card h3 {
  font-size: 25px;
  padding-bottom: 1em;
}

.card img {
  width: 90%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card p {
  text-align: justify;
}

#skills {
  display: grid;
}
@media (min-width: 480px) and (max-width: 768px) {
  #skills {
    grid-template: "head1 head2" "lenguage db" "head3 head4" "vc ml" "head5 none" "other none";
  }
  #skills #head {
    border: 3px inset;
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #skills {
    grid-template: "head1 head2 head3" "lenguage db vc" "head4 head5 none" "ml other none";
  }
  #skills #head {
    border: 3px inset;
    padding: 5px;
  }
}
@media (min-width: 1024px) {
  #skills {
    grid-template: "head1 head2 head3 head4 head5" "lenguage db vc ml other";
  }
  #skills #head {
    border: 3px inset;
    padding: 5px;
  }
}
#skills {
  background-color: white;
}
#skills li {
  padding: 0.1em 0;
  list-style: none;
  border-left: 1px black dotted;
  padding-left: 5px;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

h2 {
  border-radius: 4px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #ccc;
  color: #e5e7eb;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 25px;
  width: fit-content;
}

h2.sin-borde {
  border: none;
  background-color: transparent;
  padding: 0;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

p {
  padding: 0.1em 0;
}

.head1 {
  grid-area: head1;
}

.head2 {
  grid-area: head2;
}

.head3 {
  grid-area: head3;
}

.head4 {
  grid-area: head4;
}

.head5 {
  grid-area: head5;
}

.lenguage {
  grid-area: lenguage;
}

.db {
  grid-area: db;
}

.vc {
  grid-area: ml;
}

.other {
  grid-area: other;
}

#projects {
  background-color: trans;
}

#education, #aboutMe, #skills {
  background-color: white;
  opacity: 0.7;
}

#contact {
  background-color: #ccc;
  display: grid;
}
@media (min-width: 480px) and (max-width: 768px) {
  #contact {
    grid-template: "head1 head2" "lenguage db" "head3 head4" "vc ml" "head5 none" "other none";
  }
  #contact #head {
    border: 3px inset;
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #contact {
    grid-template: "head1 head2 head3" "lenguage db vc" "head4 head5 none" "ml other none";
  }
  #contact #head {
    border: 3px inset;
    padding: 5px;
  }
}
@media (min-width: 1024px) {
  #contact {
    grid-template: "head1 head2 head3 head4 head5" "lenguage db vc ml other";
  }
  #contact #head {
    border: 3px inset;
    padding: 5px;
  }
}
#contact span {
  padding: 0.1em 0;
}

.svg {
  width: 20px;
}

video {
  width: 100%;
  padding-bottom: 10px;
}

.box-title {
  text-align: center;
}

.box-image {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
