@import 'variables';

@mixin responsive {
  @media (min-width: $mobile) {
    font-size: 16px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

@mixin responsive-button {
  @media (min-width: $mobile) {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 0.5em;
  }

  @media (min-width: $tablet) {
    margin-left: 0.5em;
    padding: 1em 0.5em;
  }

  @media (min-width: $desktop) {
    margin-left: 0.5em;
    padding: 1.5em 1em;
  }
}

@mixin tabla-celda($resultado) {

  @if $resultado == "victoria" {
    background-color: #00b318;
  } @else if $resultado == "derrota" {
    background-color: #f06f6f;
  } @else if $resultado == "empate" {
    background-color: #dfd877;
  }
  &::after {
    content: "#{$resultado}";
  }

}

@mixin responsive_grid {
  @media (min-width: $mobile ) and ( max-width: $tablet) {
    grid-template:
      'head1 head2'
      'lenguage db'
      'head3 head4'
      'vc ml'
      'head5 none'
      'other none';
    #head{
      border: 3px inset;
      padding: 5px;
    }
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    grid-template:
      'head1 head2 head3'
      'lenguage db vc'
      'head4 head5 none'
      'ml other none';
    #head{
      border: 3px inset;
      padding: 5px;
    }
  }

  @media (min-width: $desktop) {
    grid-template:
        'head1 head2 head3 head4 head5'
        'lenguage db vc ml other';
    #head{
      border: 3px inset;
      padding: 5px;
    }
  }
}

@mixin responsive_contact {
  @media (min-width: $mobile) {
    grid-template-columns: auto auto;
  }

  @media (min-width: $tablet) {
    grid-template-columns: auto auto auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: auto auto auto;
  }
}

@mixin responsive_promo {
  @media (min-width: $mobile) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }
}