//En este fichero definimos todas las variables
$fondo-color: #0f172a;
$boton-color: #0056b3;
$nav-color: #e5e7eb;
$nav-hover: rgb(71, 145, 74);
$color-main: white;
$fuente-color-titulos: #e5e7eb;

$fuente-principal: Arial, sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

