@use 'variables';
@use 'mixins';
@import 'variables';
@import 'mixins';

*{
  font-family: $fuente-principal;
  margin: 0;
  @include responsive
}

body{
  padding: 0 1em;
  text-align: justify;
  background-color: $fondo-color;
}

@keyframes entrada-header {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header{
  background-color: $fondo-color;
  margin: auto;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 60% 40%;
  animation: entrada-header 1.8s ease-out;
  h2{
    color: $fuente-color-titulos;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
  }
}

.actions{
  padding-right: 0;
  margin-right: 0.5em;
  align-content: end
}

button{
  @include responsive-button;
  float: right;
  background-color: $boton-color;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(71, 145, 74);
  cursor: pointer;
  transform: scale(1.1)
}

.curv{
  @include responsive-button;
  float: right;
  background-color: $boton-color;
  color: $fuente-color-titulos;
  border-radius: 4px;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: grey #5a5a5a #5a5a5a grey;
}

h1{
  color: $fuente-color-titulos;
  font-family: fantasy;
  font-size: xx-large;
}

@keyframes entrar-izquierda {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entrar-derecha {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
nav {
  display: flex;
  margin: 0 auto;
  font-size: medium;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1em 1em;
  background-color: $fondo-color;
  border-radius: 20px;
  opacity: 0.9;
}

nav a{
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: $nav-color;
  padding: 5px;
  border: 1px black solid;
}

a:hover {
    background-color: $nav-hover;
    transform: scale(1.10);
  }

.right{
  animation: entrar-derecha 1.5s ease-out;
}

.left{
  animation: entrar-izquierda 1.5s ease-out;
}

section {
  padding: 1em;
  border-radius: 5px;
}

#aboutMe{
  background-color: $color-main;
}

.promo{
  margin: auto 5em;
}

.promo a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 1em auto;
}

.promo-grid{
  display: grid;
  @include responsive_promo;
  grid-gap: 10px;
}

.card{
  background: #ccc;
  border-radius: 16px;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
  box-shadow: 5px 10px 20px #ccc;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px) scale(1.10);
    box-shadow: 0 15px 35px black;
    background: rgb(255, 195, 85);
    .box-title{
      transition: all 0.3s ease;
      border: 3px blue dashed;
      a{
        color:blue;
        text-decoration: underline;
      }
    }
  }
  p{
    padding: 15px 0;
  }
  li{
    padding: 0.2em 0;
    margin-left: 1em;
  }
}

.card h3{
  font-size: 25px;
  padding-bottom: 1em;
}

.card img {
  width: 90%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card p{
  text-align: justify;
}

#skills{
  display: grid;
  @include responsive_grid;
  background-color: $color-main;
  li{
    padding: 0.1em 0;
    list-style: none;
    border-left: 1px black dotted;
    padding-left: 5px;
  }

}

ul{
  padding-left: 0;
  margin-left: 0;
}

h2 {
  border-radius: 4px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  background-color: grey;
  color: white;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 25px;
}

h2.sin-borde {
  border: none;
  background-color: transparent;
  padding: 0;
}

h3{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

p{
  padding: 0.1em 0;
}

.head1{
  grid-area: head1;
}

.head2{
  grid-area: head2;
}

.head3{
  grid-area: head3;
}

.head4{
  grid-area: head4;
}

.head5{
  grid-area: head5;
}

.lenguage {
  grid-area: lenguage;
}

.db {
  grid-area: db;
}

.vc {
  grid-area: ml;
}

.other {
  grid-area: other;
}

#projects{
  background-color: $color-main;
}

#education{
  background-color: $color-main;
}

#contact{
  background-color: $nav-color;
  display: grid;
  @include responsive_grid;

  span{
    padding: 0.1em 0;
  }
}

.svg{
  width: 20px;
}

video{
  width: 100%;
  padding-bottom: 10px;
}

.box-title{
  padding: 15px 0;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 10px;
}

.box-image{
  text-align: center;
}