@use 'variables';
@use 'mixins';
@import 'variables';
@import 'mixins';

*{
  font-family: $fuente-principal;
  margin: 0;
  @include responsive
}

body{
  font-family: $fuente-principal;
  padding: 0 1em;
  text-align: justify;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #0f2027);
  background-size: 300% 100%;
  animation: moverGradiente 5s ease-in-out infinite alternate;
}

a{
  text-decoration: none;
  color: black;
  height: min-content;
}

@keyframes entrada-header {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moverGradiente {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

header{
  background-color: $fondo-color;
  margin: auto;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 60% 40%;
  animation: entrada-header 1.8s ease-out;
  background: transparent;
  h2{
    color: $fuente-color-titulos;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
  }
}

.actions{
  padding-right: 0;
  margin-right: 0.5em;
  align-content: end
}

button{
  @include responsive-button;
  float: right;
  background-color: $btn-color;
  color: white;
  border-radius: 40px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: $btn-hover;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1.1)
}

.curv{
  @include responsive-button;
  float: right;
  background-color: $btn-color;
  color: $fuente-color-titulos;
  border-radius: 40px;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: grey #5a5a5a #5a5a5a grey;
  transition-duration: 0.5s;
}

.curv:hover{
    background-color: $btn-hover;
    border-radius: 4px;
    transform: scale(1.1)
  }

h1{
  color: $fuente-color-titulos;
  font-size: xx-large;
}

@keyframes entrar-izquierda {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entrar-derecha {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
nav {
  display: flex;
  margin: 0 auto;
  font-size: medium;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: auto;
  padding: 1em 1em;
  border-radius: 20px;
  opacity: 0.8;
  background: transparent;

  &:hover{
    transition: opacity 0.1s ease;
    opacity: 1;
  }
}

nav a{
  border-radius: 20px;
  flex: 1;
  text-align: center;
  background-color: $nav-color;
  padding: 5px;
  border: 1px black solid;
  transition-duration: 0.3s;

  &:hover {
    background-color: $nav-hover;
    transform: scale(1.10);
    border-radius: 10px;
    border-color: grey #5a5a5a #5a5a5a grey;
  }
}



.right{
  animation: entrar-derecha 1.5s ease-out;
}

.left{
  animation: entrar-izquierda 1.5s ease-out;
}

section {
  padding: 1em;
  border-radius: 5px;
}

.promo{
  margin: auto 5em;
}

.promo h4{
  color: black;
  font-size: 30px;
  margin-bottom: 2vh;
  //margin: 1vh auto;
}

.promo-grid{
  display: grid;
  @include responsive_promo;
  grid-gap: 10px;
}

.card{
  background: $nav-color;
  border-radius: 16px;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
  box-shadow: 5px 0px 20px black;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px) scale(1.08);
    box-shadow: 0 15px 35px $nav-color;
    background: $background-hover;
    .box-title{
      transition: all 0.3s ease;
    }
  }
  p{
    padding: 15px 0;
  }
  li{
    padding: 0.2em 0;
    margin-left: 1em;
  }
}

.card h3{
  font-size: 25px;
  padding-bottom: 1em;
}

.card img {
  width: 90%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card p{
  text-align: justify;
}

#skills{
  display: grid;
  @include responsive_grid;
  background-color: $color-main;
  li{
    padding: 0.1em 0;
    list-style: none;
    border-left: 1px black dotted;
    padding-left: 5px;
  }

}

ul{
  padding-left: 0;
  margin-left: 0;
}

h2 {
  border-radius: 4px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: $nav-color;
  color: $fuente-color-titulos;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 25px;
  width: fit-content;
}

h2.sin-borde {
  border: none;
  background-color: transparent;
  padding: 0;

}

h3{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

p{
  padding: 0.1em 0;
}

.head1{
  grid-area: head1;
}

.head2{
  grid-area: head2;
}

.head3{
  grid-area: head3;
}

.head4{
  grid-area: head4;
}

.head5{
  grid-area: head5;
}

.lenguage {
  grid-area: lenguage;
}

.db {
  grid-area: db;
}

.vc {
  grid-area: ml;
}

.other {
  grid-area: other;
}

#projects{
  background-color: trans;
}

#education, #aboutMe, #skills{
  background-color: $color-main;
  opacity: 0.7;
}

#contact{
  background-color: $nav-color;
  display: grid;
  @include responsive_grid;

  span{
    padding: 0.1em 0;
  }
}

.svg{
  width: 20px;
}

video{
  width: 100%;
  padding-bottom: 10px;
}

.box-title{
  text-align: center;
}

.box-image{
  text-align: center;
}